body{
    background-color: black;
}

h1, h2, h4{
    color: white;
}

h1{
    text-align: center;
}

img{
    width: 200px;
}

.series{
    width: 1000px;
    position: relative;
    left: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}