*{

    margin: 0;
    padding: 0;
}

body{

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer';
}



body header{

    grid-area: header;
    height: 60px;
    background-color: #3c6969;
}

header img{

    width: 80px;
    position: relative;
    left: 45%;
}

body aside{
    background-color: #2f4f4f;
    color: white;
    grid-area: aside;
}

aside div{

    margin: 10px;
    padding: 12px;

}

body main{
    background-color: #008080;
    grid-area: main;
    padding: 100px;
    height: calc(100vh - 60px);
}

.mainpage{

    margin: 0px 100px 0px;
    width: 650px;
    position: relative;
    left: 20%;
}

.mainpage img{

    width: 650px;
}

body footer{

    background-color: #40e0d0;
    grid-area: footer;
    height: 50px;
}

@media (max-width: 320px){

    .mainpage{

        width: 250px;
        position: relative;
        left: -20%;
    }

    .mainpage img{

        width: 400px;
    }
}

@media (max-width: 375px){

    .mainpage{

        width: 400px;
        position: relative;
        left: -20%;
    }

    .mainpage img{

        width: 500px;
    }
}

@media (max-width: 425px){

    .mainpage{

        width: 400px;
        position: relative;
        left: -20%;
    }

    .mainpage img{

        width: 500px;
    }
}

@media (max-width: 768px){

    .mainpage{

        width: 400px;
        position: relative;
        left: -20%;
    }

    .mainpage img{

        width: 500px;
    }
}

@media (max-width: 1024px){

    .mainpage{

        width: 400px;
        position: relative;
        left: -20%;
    }

    .mainpage img{

        width: 500px;
    }
}

@media (max-width: 1140px){

    .mainpage{

        width: 700px;
    }

    .mainpage img{

        width: 700px;
    }
}